/*Globals*/
h1,
h2,
h3,
h4,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  width: 1366px;
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
}

bodyh4 {
  color: #356EAD;
}

/* media queries*/
@media (max-width: 866px) {
  header {
    width: 866px;
  }
}

/*header*/
.logo {
  height: 32px;
  width: 100px;
}

.circle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #316099;
  margin: auto;
}

.bordeazul {
  position: absolute;
  left: 66px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #316099;
  font-size: 20px;
  margin: auto;
}

.a {
  position: absolute;
  color: #316099;
  left: 78px;
  top: 59px;
}

header {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 3% 3% 3%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  margin-left: 20px;
  font-weight: 700;
}

ul :nth-child(1) {
  color: #316099;
}

/*Main*/
.banner {
  width: 100%;
  height: 20%;
}

.vector,
.e1,
.e2,
.e3,
.e4,
.e5,
.c1,
.c2,
.c3,
.c4,
.c5 {
  position: absolute;
}

.e1 {
  margin-top: 10px;
  margin-left: 20px;
}

.e2 {
  margin-top: 30px;
  margin-left: 800px;
}

.e3 {
  margin-top: 100px;
  margin-left: 400px;
}

.e4 {
  margin-top: 200px;
  margin-left: 1100px;
}

.e5 {
  margin-top: 243px;
  margin-left: 600px;
}

.c1 {
  margin: -20px 323px 0px;
}

.c2 {
  margin: 44px 1020px 0px;
}

.c3 {
  margin: 140px -6px 0px;
}

.c4 {
  margin: 230px 250px 0px;
}

.c5 {
  margin: 200px 850px 0px;
}

.title {
  position: absolute;
  text-align: center;
  height: 20rem;
  margin: 5vw;
}

.title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: white;
}

.title p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  margin: 3% 20%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #F4F4F4;
  height: 56px;
  padding: 17px;
  margin: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.popular {
  margin: 50px;
}

.popular h1 {
  color: #356EAD;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 34px;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  width: 45%;
}

.content h3 {
  color: #1F3F68;
  font-size: 3rem;
  line-height: 46px;
}

.content p, .posts p {
  color: black;
  line-height: 26px;
}

.under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.credits h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1F3F68;
}

.credits p {
  font-size: 1.3rem;
  color: #1F3F68;
  line-height: 0px;
}

.icons {
  width: 30%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons figure {
  margin-left: 20px;
}

.posts {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  padding: 33px 0px;
  line-height: 32px;
}

.title_post {
  font-size: 2rem;
  font-weight: 700;
  color: #1F3F68;
}

.post_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.see {
  text-align: right;
  color: #356EAD;
  font-weight: 700;
  margin-bottom: 20px;
}

.feed {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 2rem;
  padding: 33px 0px;
  line-height: 32px;
}

.feed h4 {
  color: #356EAD;
  font-weight: 700;
}

.feed_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feed_content {
  padding-left: 20px;
}

.feed_contenth3 {
  font-size: 1.8rem;
}

.feed_contentp {
  font-size: 1.4rem;
  line-height: 2rem;
}

.feed_text {
  height: 70%;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #356EAD;
}

.footer_1 {
  border-radius: 0px 200px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background-color: #316099;
  color: #ffffff;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
}

.footer_1 div h2 {
  width: 180px;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer_1 div p {
  width: 60%;
  line-height: 2.6rem;
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.footer_1 button {
  width: 30%;
  height: 25%;
  background-color: #5A98D0;
  color: #ffffff;
  border-style: none;
  border-radius: 10px;
  margin: auto;
  margin-right: 100px;
}

.footer_2 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  padding: 59px 3% 3% 3%;
  line-height: 32px;
  height: 200px;
  background-color: #316099;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_2 .circle {
  position: absolute;
  background-color: #5A98D0;
}

.footer_2 h2 {
  font-weight: 700;
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  width: 150px;
}

.footer_a, .footer_t, .footer_e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1rem;
}

.footer_a h2, .footer_t h2, .footer_e h2 {
  margin-right: 10px;
  font-weight: 700;
}

.footer_first {
  width: 30%;
}

.copy {
  color: rgba(255, 255, 255, 0.4);
  background-color: #316099;
  padding: 5vw;
}

.followus {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-right: 40px;
}
/*# sourceMappingURL=main.css.map */